{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <title> pagina de exemplo estrutura basica </title>
    <meta charset="utf-8">
    {% include 'site/common/link.html' %}
</head>

<body>

<header>
    {% include 'site/common/header.html' %}

</header>
<div class="container-fluid">
    <div class="row m-3">
        <div class="col-sm "></div>
        <div class="col-sm-11 col-md-6 col-lg-6 col-lg-5 col-xl-4">
            {% block main %}
                <form class="jumbotron" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="">
                        <label>{{ form.username.label_tag }}</label>
                    </div>
                    <div class="form-group mx-auto">
                        {{ form.username }}
                    </div>

                    <div class="">
                        <label>{{ form.password.label_tag }}</label>
                    </div>
                    <div class="form-group">
                        {{ form.password }}
                    </div>
                    <input type="submit" class="btn btn-dark" value="login">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
                <div class="text-danger">
                    {% if form.errors %}
                        <p>Seu nome de usuário e senha não coincidem. Por favor, tente novamente.</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Sua conta não tem acesso a esta página. Para prosseguir,
                            faça login com uma conta que tenha acesso.</p>
                        {% else %}
                            <p>Por gentileza faça login para acessar a página.</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endblock %}

        </div>
        <div class="col-sm"></div>
    </div>
</div>
{% include 'site/common/script.html' %}
</body>
