<table>
    <caption>
        <a href="{% url 'gerenciamento' %}" class="section" title="Modelos na aplicação E_Contas">Gerenciamento</a>
    </caption>
    <tbody>
    <tr>
        <th scope="row">Vendas</th>
        <td><i class="fas fa-list-ol"></i><a href="{% url 'lista_venda'%}"> Listar</a></td>
    </tr>
    <tr>
        <th scope="row">Pagamentos</th>
        <td><i class="fas fa-list-ol"></i><a href="{% url 'lista_pagamento'%}"> Listar</a></td>
    </tr>
    <tr>
        <th scope="row">Empresas</th>
        <td><i class="fas fa-list-ol"></i><a href="{% url 'lista_empresa'%}"> Listar</a></td>
    </tr>
    <tr>
        <th scope="row">Fornecedores</th>
        <td><i class="fas fa-list-ol"></i><a href="{% url 'lista_fornecedor'%}"> Listar</a></td>
    </tr>
    <tr>
        <th scope="row">Local de Recebimento</th>
        <td><i class="fas fa-list-ol"></i><a href="{% url 'lista_local_recebimento'%}"> Listar</a></td>
    </tr>
    </tbody>
</table>