<table>
        <caption>
            <a href="{% url 'grafico' %}" class="section" title="Modelos na aplicação E_Contas">Gráficos</a>
        </caption>
        <tbody>
        <tr>
            <th scope="row">Contas a Por Empresa</th>
            <td><a href="{% url 'grafico_conta_paga_por_empresa' %}">Acessar</a></td>
        </tr>
        <tr>
            <th scope="row">Conta  a Pagar VS Receber</th>
            <td><a href="{% url 'grafico_conta_paga_recebe' %}">Acessar</a></td>
        </tr>

        </tbody>
    </table>