<table>
    <caption>
        <a href="{% url 'cadastro' %}" class="section" title="Modelos na aplicação E_Contas">Cadastro</a>
    </caption>
    <tbody>
    <tr>
        <th scope="row">Vendas</th>
        <td class="addlink"><a href="{% url 'cadastro_venda' %}">Adicionar</a></td>
    </tr>
    <tr>
        <th scope="row">Pagamentos</th>
        <td class="addlink"><a href="{% url 'cadastro_pagamento' %}">Adicionar</a></td>
    </tr>
    <tr>
        <th scope="row">Empresas</th>
        <td class="addlink"><a href="{% url 'cadastro_empresa'%}">Adicionar</a></td>
    </tr>
    <tr>
        <th scope="row">Fornecedores</th>
        <td class="addlink"><a href="{% url 'cadastro_fornecedor'%}">Adicionar</a></td>
    </tr>
    <tr>
        <th scope="row">Local de Recebimento</th>
        <td class="addlink"><a href="{% url 'cadastro_local_recebimento' %}">Adicionar</a></td>
    </tr>
    </tbody>
</table>