{% load static %}
<div class="footer-bottom bg-secondary text-white-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-2 segment-two">
                <h2>Nossa missão</h2>
                <p>Nós economizamos o dinheiro das pessoas para que elas possam viver melhor!</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 segment-three">
                <h2>Nossos Valores</h2>
                <p>Confiança; Respeito; Crença; Humildade; Integridade.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 segment-four">
                <h2>Nosso boletim informativo</h2>
                <p>Cadastre seu e-mail e receba nossas informações</p>
                <form  class="form-inline" action="">
                    <input type="email">
                    <input class="btn btn-info btn-sm" type="submit" value="cadastrar">
                </form>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 segment-two">
                <h2>Fique por dentro</h2>
                <ul class="list-group ">
                    <li class="list-group-item list-group-item-dark"><a href="#">Evento</a></li>
                    <li class="list-group-item list-group-item-dark"><a href="#">suporte</a></li>
                    <li class="list-group-item list-group-item-dark"><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
        <p class="text-center">&copy; E-Contas 2019 -Developer
            <a class="text-blue-25" href="https://github.com/wevertonmatias"><h7> Weverton M</h7></a>
        </p>
    </div>
</div>
