{% load static %}
<div class="col-sm-12 col-md-12 col-lg-4 mt-3">
    <div class="text-white-50 w-50">
        <h3>Nossa missão</h3>
        <h5>Nós economizamos o dinheiro das pessoas para que elas possam viver melhor!</h5>
    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-4 mt-3">
    <div class="text-white-50">
        <h3>Nossos Valores</h3>
        <h5>Confiança; Respeito; Crença; Humildade; Integridade.</h5>
    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-2 mt-3">
    <div class="text-white-50">
        <h3>Nosso boletim informativo</h3>
        <h6>Cadastre seu e-mail e receba nossas informações</h6>
        <form class="form-inline" action="">
            <input type="email">
            <input class="btn btn-info btn-sm" type="submit" value="cadastrar">
        </form>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-2 mt-3">
    <div class="text-white-50">
        <h3>Fique por dentro</h3>
        <ul class="list-group w-50">
            <li class="list-group-item list-group-item-dark"><a href="#">Evento</a></li>
            <li class="list-group-item list-group-item-dark"><a href="#">suporte</a></li>
            <li class="list-group-item list-group-item-dark"><a href="#">Blog</a></li>
        </ul>
    </div>
</div>
<div class="mx-auto">
    <p>&copy; E-Contas 2019 -Developer
        <a target="_blank" class="btn btn-primary btn-sm" href="https://github.com/wevertonmatias">
            Weverton M.
        </a>
    </p>
</div>
