{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>E-Contas</title>
    <meta charset="utf-8">
    {% include 'site/common/link.html' %}
</head>

<body class="bg-secondary">
<div class="container-fluid">
    <header>
        <div class="row">
            {% include 'site/common/header.html' %}
        </div>
    </header>

    <div class="row mt-2">
        {% include 'site/common/banner/banner.html' %}
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            {% include 'site/common/footer.html' %}
        </div>
    </footer>
</div>

{% include 'site/common/script.html' %}

</body>
</html>                                             