{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
    <title>E-Contas</title>
    <meta charset="utf-8">
    {% include 'site/common/link.html' %}
</head>

<body class="bg-secondary">
<div class="container-fluid">
    <header>
        <div class="row">
            {% include 'site/common/header.html' %}
        </div>
    </header>
    <div class="row">
        <div class="h2 mx-auto text-white-50">
            <label>Nossos Parceiros</label>
        </div>
    </div>

    <div class="card-group">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2">
                <div class="card-1 bg-dark text-light mx-auto" style="max-width: 18rem;">
                    <img src="{% static 'img/comida_chinesa.jpg'%}" class="card-img-top" alt="chinesa">
                    <div class="card-body">
                        <h5 class="card-title">Tofu Recheado</h5>
                        <p class="card-text"> Tofu Recheado, Irresístivel do começo ao fim!</p>
                        <a href="#" class="btn btn-primary">Visite</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2">
                <div class="card-2 bg-dark text-white mx-auto" style="max-width: 18rem;">
                    <img src="{% static 'img/comida_mexicana.jpg' %} " class="card-img-top" alt="mexicana">
                    <div class="card-body">
                        <h5 class="card-title">Mexicana Beans</h5>
                        <p class="card-text">Mexicana Beans, Alimentando por várias gerações</p>
                        <a href="#" class="btn btn-primary">Visite</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2">
                <div class="card-3 text-white bg-dark mx-auto" style="max-width: 18rem;">
                    <img src="{% static 'img/jo%C3%A3o_sapatos.jpg' %} " class="card-img-top" alt="joão">
                    <div class="card-body">
                        <h5 class="card-title">João Calçados</h5>
                        <p class="card-text">você escolhe: seguir a moda ou fazer a moda. Aposte no seu estilo</p>
                        <a href="#" class="btn btn-primary">Visite</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'site/common/script.html' %}
</body>

</html>