{%extends 'adm/gerenciamento/atualiza/atualiza_base.html'%}
{% load bootstrap %}
{% block link-4 %}
> Local Recebimento
{% endblock %}

{% block div-1 %}
<label class="text-danger">Os campos com (*) são obrigatórios</label>
<form method="post">
    {% csrf_token %}
    {{ form | bootstrap }}
    <input class="btn btn-primary btn-md btn-block" type="submit" value="Editar">
    <a class="btn btn-success btn-md btn-block" href="{% url 'lista_local_recebimento' %}">Voltar</a>
</form>
{% endblock %}
