{% extends 'adm/gerenciamento/deleta/deleta_base.html' %}
{% load bootstrap %}
{% block link-4 %}
> Venda
{% endblock %}
{% block div-1 %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <ul class="list-group">
        <li class="list-group-item">Código. {{object.pk}}</li>
        <li class="list-group-item">Valor: {{ object.valor }}</li>
        <li class="list-group-item">Empresa: {{ object.empresa }}</li>
        <li class="list-group-item">Data: {{object.data}}</li>
        <li class="list-group-item">Local de Pagamento: {{object.local_de_pagamento}}</li>
        <li class="list-group-item">Empresa: {{object.empresa}}</li>
    </ul>
    <input class="btn btn-primary btn-md btn-block mt-1" type="submit" value="Deletar">
    <a class="btn btn-success btn-md btn-block" href="{% url 'lista_venda' %}">Voltar</a>
</form>
{% endblock %}
</div>

